li {
	color: #dde24a;
}
h3, h4 {
	color: #dde24a;
	background-color: #61631f;
}
a {
	color: #dde24a;
	border: 2px dashed black;
}
a:hover {
	color: red;
}
a:visited {
	color: rgba(200,100,100,0.3)
}
a:active {
	color: purple;
}
img {
	border: 2px solid black;
}
td, th {
	color: #dde24a;
	border: 2px solid yellow;
}


