li {
	color: #dde24a;
	font-style: italic;
}
h1 {
	font-family: 'Raleway', sans-serif;
}
h3, h4 {
	color: #dde24a;
	background-color: #61631f;
}
h3:nth-of-type(2) {
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
}
a:link {
	color: blue;
	border: 2px dashed black;
}
a:visited {
	color: rgba(200,100,100,1);
}
a:hover {
	color: red;
	text-decoration: underline;
	background-color: purple;
}
a:active {
	color: purple;
}
img {
	border: 2px solid black;
}
td, th {
	color: #dde24a;
	border: 2px solid yellow;
}
table tr td {
	font-style: italic;
}
table {
	background-color: rgba(200,150,30,0.1);
}

