header {
	height: 40px;
}
header h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
footer {
	height: 210px;
}
footer p {
	text-align: center;
	font-family: Arial;
}
.content {
	min-height: calc(100vh - 250px); /* <---(100vh - (heightofheader+heightoffooter)) */
}
/* This is the "sticky header/footer" styling */