#liNav a:link {
	color: #efe6ba;
}
#liNav a:visited {
	color: #e5c32b;
}
#liNav a:hover {
	font-weight: bold;
}
#liNav a:active {
	text-decoration: none;
	color: blue;
}
.panel-body {
	background: linear-gradient(orange,white);
}